.videoIn {
  z-index: 1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s;
}

.description {
  color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);

  h1 {
    font-size: 17px;
  }
}
