body {
  overflow-y: scroll;
  overflow-x: hidden;
  /* // Disable Text Selection */
  /* user-select: none; /* supported by Chrome and Opera */
  /* -webkit-user-select: none; Safari */
  /* -khtml-user-select: none; Konqueror HTML */
  /* -moz-user-select: none; Firefox */
  /* -ms-user-select: none; Internet Explorer/Edge */
}

:root,
body,
html {
  background-color: black;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* text-decoration: none; */
}

body {
  font-family: Arial, sans-serif;
}
